# Windows WSL Zone.Identifier files
*Zone.Identifier

# Document files
*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.pdf

# Java
*.class
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
*.iml
.idea/
out/
.project
.classpath
.cproject
.settings/
.nb-gradle/
nbproject/private/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Archives & packaged artifacts
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*